.first-color { 
	background: #e7eaf6; 
}
	
.second-color { 
	background: #a2a8d3; 
}

.third-color { 
	background: #38598b; 
}

.fourth-color { 
	background: #113f67; 
}
/** COLOR SET **/
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    background-color:#113f67 ; 
}

.header{
    display:flex;
    justify-content: space-around;
    align-items: center;
    width: auto;
    background-color: #38598b; 
    color:white;
    padding: 20px;
    margin:10px;
    border-radius: 25px;
}
#user_icon{
    width:70px;
}
.navbar a{
    font-size: x-large;
    text-decoration: none;
    color:#e7eaf6;
    padding: 42px;
}

.navbar a:hover {
    background-color: #113f67;
  }
.div {
    
    display: flex;
    justify-content: row;
    justify-content: space-around;
}
.div div{
    margin: 50px;
    padding: 200px 150px 200px 150px;
    background-color: #38598b;
    border-radius: 25px;
}

footer{
    display:flex;
    justify-content: center;
    background-color: #38598b;
    border-radius: 25px;
    padding: 40px;
    margin: 10px;
}